// card menu start

.card-body{
    height: 10rem;
    width: 25rem;
    background: radial-gradient(#1fe4f5, #3fbafe);
    .card-title{
        margin-top: -1rem;
        padding: .5rem;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }   

    .count-wrapper{
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 1rem;
        .card-count{
            // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            padding-top: .9rem;
            margin-top: -.3rem;
            color: white;
            text-align: center;
            font-size: 1.8rem;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            background-color: tomato;    
        }   
    }
    .card-amount{
        font-size: x-large;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: -3rem;
    }
   .card-footer{
       position: relative;
       height: 2rem;
       margin-bottom: -5rem;
   } 
}
.card-body:hover {
    cursor: pointer;
    // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
// card menu end

//card dialog start
.dialog-wrapper{
    // height: 12rem;
    width: 25rem;
    .dialog-title{
        text-align: center;
   }
    .dialog-content{
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-evenly;

    }
}
//card dialog end

//card panwer information start
.pawner-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .7fr .7fr;   
    column-gap: 1rem;
    row-gap: 2rem;
}

// card panwer information end

//remove button spinner in input number
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,

  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }


