.header-body {
  position: static;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  background-color: rgb(10, 103, 224);
}
.footer-body {
  position: fixed;
  height: 6vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: rgb(10, 103, 224);

  .speeddial-container {
    margin: -13rem 48% 0;
    position: absolute;
    z-index: 1000;
    transform: scale(0.7); 
  }
}
