.header-body {
  position: static;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  background-color: rgb(10, 103, 224);
}
.footer-body {
  position: fixed;
  height: 6vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: rgb(10, 103, 224);
  
.speeddial-container {
    position: absolute;
    margin-left: 96.5%;
  }
}

