<div class="pawner-wrapper">
  <div class="pawner-body">
    <div class="p-inputgroup p-inputtext-sm">
      <span class="p-float-label">
        <input
          #firstNameRef
          type="text"
          id="inputtext"
          pInputText
       
        />
        <label for="inputtext">First Name</label>
      </span>
    </div>
    <div class="p-inputgroup p-inputtext-sm">
      <span class="p-float-label">
        <input
          #firstNameRef
          type="text"
          id="inputtext"
          pInputText
       
        />
        <label for="inputtext">Last Name</label>
      </span>
    </div>
    <div class="p-inputgroup p-inputtext-sm">
      <span class="p-float-label">
        <input
          #firstNameRef
          type="text"
          id="inputtext"
          pInputText
        
        />
        <label for="inputtext">Contact Number</label>
      </span>
    </div>
    <div class="p-inputgroup p-inputtext-sm">
      <span class="p-float-label">
        <p-calendar  [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
        <label for="inputtext">Date Transaction</label>
      </span>
    </div>
    <div class="p-inputgroup p-inputtext-sm">
      <span class="p-float-label">
        <p-calendar  [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
        <label for="inputtext">Date Granted</label>
      </span>
    </div>
    <div class="p-inputgroup p-inputtext-sm">
        <span class="p-float-label">
          <input
            #firstNameRef
            type="text"
            id="inputtext"
            pInputText
         
          />
          <label for="inputtext">City</label>
        </span>
      </div>
      <div class="p-inputgroup p-inputtext-sm">
        <span class="p-float-label">
          <input
            #firstNameRef
            type="text"
            id="inputtext"
            pInputText
         
          />
          <label for="inputtext">Barangay</label>
        </span>
      </div>
      <div class="p-inputgroup p-inputtext-sm">
        <span class="p-float-label">
          <input
            #firstNameRef
            type="text"
            id="inputtext"
            pInputText
          
          />
          <label for="inputtext">Complete Address</label>
        </span>
      </div>
      <div class="p-inputgroup p-inputtext-sm">
        <span class="p-float-label">
          <p-calendar  [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
          <label for="inputtext">Date Transaction</label>
        </span>
      </div>
      <div class="p-inputgroup p-inputtext-sm">
        <span class="p-float-label">
          <p-calendar  [showButtonBar]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
          <label for="inputtext">Date Transaction</label>
        </span>
      </div>
</div>
</div>
