<form [formGroup]="cityForm" autocomplete="off">
  <div class="city-body">
    <div class="city-header"></div>
    <div class="city-content">
      <div class="p-field p-col-12 p-md-4 pt-5">
        <span class="p-float-label">
          <input
            [autofocus]="true"
            #cityRef
            type="text"
            id="city"
            pInputText
            formControlName="cityName"
          />
          <label for="city">City Name</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4 pt-5">
        <button
          (click)="add()"
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded p-button-success"
        ></button>
      </div>
      <div class="p-field p-col-12 p-md-4 pt-5">
        <button
          (click)="reset()"
          pButton
          pRipple
          type="button"
          icon="pi pi-refresh"
          class="p-button-rounded p-button-danger"
        ></button>
      </div>
    </div>
    <div class="city-table card">
      <p-table
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]=[5,10,20,30,50]
        [value]="cityDataSource"
        styleClass="p-datatable-sm"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>City Name</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-city let-rowIndex="rowIndex">
          <tr style="height: 1rem">
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ city.cityId }}</td>
            <td>{{ city.cityName }}</td>
            <td style="width: 7rem">
              <button
                tabindex="-1"
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-info mr-2"
              ></button>
              <button
                tabindex="-1"
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="city-footer"></div>
  </div>
</form>
