form {
  transform: scale(0.9); 
  margin-top: .5rem;
  .barangay-body {
    max-width: 40%;
    .barangay-header{
      border-radius: 5px;
      position: relative;
      margin: -2.5rem auto 0;
      width: 95%;
      text-align: center;
      h3{
        font-family: monospace;
        padding: .7rem;
      }
    }
    margin: 0 auto;
    padding: .5rem;
    .barangay-content {
      margin: -1rem auto 0;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;   
 }
   
    .barangay-table {
      margin-top: 1rem;
      padding: 0 1rem;   
    }
  }
}

:host ::ng-deep .bgy-drop.p-dropdown {
  width: 13rem;
}
