form{
  margin-top: 2rem;

  .pawner-body {
    margin: 0 auto ;
    padding: 0 1rem;
    max-width: 50%;
    position: relative;
    .pawner-header {
      border-radius: 5px;
     
      margin: -1rem auto ;
      width: 95%;
      text-align: center;
      h3 {
        padding: 0.5rem;
      }
    }
    .pawner-content {
      .pawner-info{
        margin: 3.5rem auto 0;
        width: 100%;
        column-gap: .8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;  
      }
      .pawner-address{
        margin: 2.5rem auto 0;
        width: 100%;
        column-gap: .8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;  
      }
    }
    .pawner-footer{
      display: grid;
      margin: 0 auto ;
      padding: 2rem;
      width: 80%;
      column-gap: .8rem;
      grid-template-columns: 1fr 1fr 1fr;  
    }
  }
}

:host ::ng-deep .address-drop.p-dropdown {
  width: 100%;
}

:host ::ng-deep .p-button{
  width: 10rem;
}
