<form [formGroup]="pawnerForm" autocomplete="off">
  <div class="pawner-body box shadow-8">
    <div class="pawner-header bg-primary shadow-5 text-base">
      <h3>Pawner Settings</h3>
    </div>
    <div class="pawner-content">
      <div class="pawner-info">
        <div class="p-inputgroup p-inputtext-sm">
          <span class="p-float-label">
            <input
              #firstNameRef
              type="text"
              id="inputtext"
              pInputText
              formControlName="firstName"
            />
            <label for="inputtext">First Name</label>
          </span>
        </div>
        <div class="p-inputgroup p-inputtext-sm">
          <span class="p-float-label">
            <input
              type="text"
              id="inputtext"
              pInputText
              formControlName="lastName"
            />
            <label for="inputtext">Last Name</label>
          </span>
        </div>
        <div>
          <span class="p-float-label">
            <p-inputMask
              class="p-inputgroup"
              formControlName="contactNumber"
              mask="(999) 999-9999"
            ></p-inputMask>
            <label for="inputtext">Contact Number</label>
          </span>
        </div>
      </div>
      <div class="pawner-address">
        <div class="p-inputgroup p-inputtext-sm">
          <span
            (click)="addCity()"
            class="p-inputgroup-addon"
            style="border-radius: 50%"
            ><i class="pi pi-plus"></i
          ></span>
          <span class="p-float-label">
            <p-dropdown
              formControlName="city"
              (onChange)="selectedCity($event)"
              [autoDisplayFirst]="false"
              [options]="cities"
              styleClass="address-drop"
              optionLabel="cityName"
              [filter]="true"
              filterBy="cityName"
              [showClear]="true"
            >
              <ng-template let-city pTemplate="item">
                <div class="city-item">
                  <div>{{ city.cityName }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="dropdown">City</label>
          </span>
        </div>
        <!-- barayangay-dd -->
        <div class="p-inputgroup p-inputtext-sm">
          <span
            (click)="addCity()"
            class="p-inputgroup-addon"
            style="border-radius: 50%"
            ><i class="pi pi-plus"></i
          ></span>
          <span class="p-float-label">
            <p-dropdown
              formControlName="barangay"
              [autoDisplayFirst]="false"
              [options]="barangays"
              styleClass="address-drop"
              optionLabel="barangayName"
              [filter]="true"
              filterBy="barangayName"
              [showClear]="true"
            >
              <ng-template let-barangay pTemplate="item">
                <div class="barangay-item">
                  <div>{{ barangay.barangayName }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <label for="dropdown">Barangay</label>
          </span>
        </div>
        <div class="p-inputgroup p-inputtext-sm">
          <span class="p-float-label">
            <input
              type="text"
              id="inputtext"
              pInputText
              formControlName="completeAddress"
            />
            <label for="inputtext">Complete Address</label>
          </span>
        </div>
      </div>
    </div>
    <div class="pawner-footer">
      <div>
        <button
          (click)="save()"
          [disabled]="isAdd"
          pButton
          pRipple
          icon="pi pi-save"
          type="button"
          label="Save"
          class="p-button-rounded p-button-success"
        ></button>
      </div>
      <div>
        <button
          (click)="reset()"
          pButton
          pRipple
          icon="pi pi-refresh"
          type="button"
          label="Reset"
          class="p-button-rounded p-button-danger"
        ></button>
      </div>
      <div>
        <button
          (click)="home()"
          pButton
          pRipple
          icon="pi pi-home"
          type="button"
          label="Home"
          class="p-button-rounded p-button-primary"
        ></button>
      </div>
    </div>
  </div>
</form>
<p-toast position="top-right"></p-toast>
